body {
    margin: 0;
}

.parent{
    display:flex;
    justify-content:space-between;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}





.title {
    text-align: center;
    margin-top: 0;
    font-size: 64px;
    color: orange;
    font-family:"Hiragino Kaku Gothic ProN", 
               "Yu Gothic", 
               Meiryo, 
               sans-serif;
}





.hero {
    position:relative;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("images/amusement-park1.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.overlay{
    position: absolute;
    top:15%;
    left:50%;
    width: 70%;
    max-width: 1000px;
    transform:translate(-50%,0%);
    background: rgba(255, 255, 255, 0.7);
    padding:20px;
}





@keyframes slideup{
    from{
        opacity:0;
        transform:translateY(50px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}

.slideup{
    animation:slideup 1s ease forwards;
}